body{
    background-color: rgb(253, 211, 218);
}

header{
    background-color: palevioletred;
    padding: 10px;
    text-align: center;
    color: rgb(255, 245, 254);
}

#Bienvenido{
    font-size: 300%;
}

nav{
    text-align: center;
    height: 1cm;
    font-size: large;
}

nav a{
    color: rgb(166, 12, 99);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    text-align: center;
}

nav a:hover{
    color: rgb(255, 255, 255);
}

.container{
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(255, 248, 238);
    border-radius: 8px ;
    box-shadow: 0 0 10px rgb(166, 12, 99);
}

.container h2{
    color: rgb(242, 79, 133);
    text-align: center;
}

.container p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1cm;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

table{
    color: rgb(52, 0, 35); /* Color del texto de la tabla */
    text-align:center; /* Centra el texto dentro de la tabla */
    width: 20%; /* Ancho de la tabla en relación al contenedor */
    border: 1cm;
    border-collapse:separate; /* Elimina espacios entre bordes */
    margin: 1px auto; /* Centra la tabla y le da espacio superior/inferior */
}

th{
    background-color: rgb(247, 152, 184);
    padding: 0.5cm;
}

td {
    border: 1cm; /* Borde de las celdas */
    padding: 1cm; /* Espacio interno en cada celda */
    background-color: #fcebf7;
}

img{
    width: 4cm;
}

footer{
    background-color: palevioletred;
    color: aliceblue;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}